/* General Styles */
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Navigation Styles */
.navbar {
    display: flex;
    justify-content: flex-end;
}

.links {
    background-color: #6E7E85;
    padding: 20px;
    box-shadow: 2px 2px black;
}

.links a {
    text-decoration: none;
    color: #F8F7F9;
    transition: background-color 0.6s;
    padding: 6px;
    font-size: 0.9em;
}

.links a:hover {
    background-color: #b7cece;
    box-shadow: 1px 1px #F8F7F9;
}

/* Hero Section Styles */
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.big {
    font-size: 10rem;
    line-height: 0.9em;
    margin-bottom: 2.6rem;
}

.hero-section {
    flex: 2;
}

/* Tool Section Styles */
.tool-section {
    flex: 1;
}

.tools {
    list-style: none;
    font-size: 3rem;
    color: #6E7E85;
    display: flex;
    gap: 1.6rem;
}

#hero-tools li{
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(-360deg);
    }
}

/* About Section Styles */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 0px;
    padding-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-title {
    font-size: 10rem;
    line-height: 0.7em;
    color: black;
}

.about-text {
    width: 70%;
    font-size: 1.6rem;
    padding: 20px;
    color: #F8F7F9;
    box-shadow: 1px 1px black;
    margin-bottom: 0px;
    text-align: center;
    background-color: #b7cece;
}

.projects{
    box-sizing: border-box;
    background-color: #1f1f1f;
    min-height: 60vw;
    position: sticky;
    top: 0;
}
#projects{
    margin-top: 6rem;
    margin-bottom: 8rem;
}
#projects2{
    background-color: #6E7E85;
}
#projects-num, #projects-num-3{
    color: #F8F7F9;
    margin-bottom: 0px;
}

/* Projects Section Styles */
.projects-title {
    font-size: 12rem;
    text-align: center;
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project-title{
    font-style: italic;
    font-size: 4rem;
    margin-bottom: 2px;
    text-shadow: #ca212a 1px 1px;
}

.project-display{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.project-gif{
    padding: 1rem;
    display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
    display: flex;
   
   margin-top: 0px;
    background-color: #b7cece;
}
.gif{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;


    
    
}

.wip{
    align-items: center;
    text-align: center;
}
.project-description{
    color: white;
    border-top: 1px solid #F8F7F9;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
}

#project-tools{
    align-items: center;
    align-self: center;
}
/* Contact Section Styles */
.contact {
    display: flex;
    flex-direction: column;
}

.contact a {
    color: black;
    text-decoration: none;
}

.contact textarea {
    width: 50%;
    align-self: center;
    border: 2px solid black;
}

.contact input {
    width: 50%;
    align-self: center;
    height: 2rem;
    border: 2px solid black;
}

.sub-button {
    background-color: #F8F7F9;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    width: 51.5%;
    border: 3px solid black;
    align-self: center;
    font-size: 2rem;
    padding: 20px;
    transition: all 1s;
}

.sub-button:hover {
    background-color: black;
    color: #F8F7F9;
}

/* Line Styles */
.line {
    height: 1px;
    align-self: center;
    box-shadow: 1px 1px black;
}

/* Stack Styles */
.stack {
    box-shadow: 1px 1px black;
    background-color: #b7cece;
    padding: 20px;
    padding-top: 0px;
}

.stack-a {
    background-color: black;
}

/* Initial letter styles */
.about-title::first-letter,
.projects-title::first-letter {
    text-shadow: 5px 5px #b7cece;
}
@media only screen and (max-width: 768px){
    .links{
        min-width: 60%;
    }
    .landing{
        flex-direction: column;
        
    } 

    .big{
        font-size: 5.5rem;
        text-align: center;
    }

    .about{
        display: flex;
        flex-direction: column;
        
        
       
        color: #F8F7F9;
    }

    .about-title{
        font-size: 5.5rem;
        
    
        
    }

    .about-text{
        min-width: 100%;
    }

    #projects{
        font-size: 5.5rem;
    }

    .project-display{
        display: flex;
        flex-direction: column;
    }

    
}
